.selectedCircle {
  width: 0px;
  height: 0px;
  background-color: black;
  border-radius: 50%;
  margin-right: 0;
  transition: all 0.3s;
  &.visible {
    width: 20px;
    height: 20px;
    margin-right: 0.8rem;
  }
}
