.card {
	position: relative;
	max-width: 350px;
	width: 100%;
	/* height: 400px; */
	height: 120px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
	padding: 20px;
	transition: height .5s ease-in-out;
}
.content {
	display: flex;
	align-items: center;
}
.imgBx {
	position: relative;
	min-width: 80px;
	max-width: 80px;
	min-height: 80px;
	max-height: 80px;
	overflow: hidden;
	border-radius: 50%;
}
.imgBx img {
	width: 100%;
	height:  100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;

}
.title {
	margin-left: 15px;
	font-size: 1.3rem;
	color: #111;
}

.title span {
	font-size: 0.8em;
	font-weight: 400;
	color: #999;

}

.navigation {
	position: relative;
	top: 25px;
	padding: 20px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.navigation li {
	list-style: none;
	margin: 15px 0;
}

.navigation li a,
.navigation li button {
	text-decoration: none;
	display: flex;
	align-items: center;
	color: #555;
	font-size: 1.1em;
	transition: all .3s;
}
.navigation li a svg,
.navigation li button svg {
	width: 1.6em;
	margin-right: 15px;
	transition: all .3s;
}
.navigation li a:hover, 
.navigation li button:hover {
	color: #36b3ff;
} 
.navigation li a:hover svg path,
.navigation li button:hover svg path {
	/* fill: #36b3ff */
}
.toggle {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: #36b3ff;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 4;
}
.toggle svg {
	width: 1.9em;
	transition: transform ease-in-out .5s;
}
.toggle svg path {
	fill: #fff;
}

.card.active .toggle svg {
	transform: rotate(180deg);
}
.card.active {
	height: 470px;
}