.wrapper {
  width: 100%;
  max-width: 500px;
}
.loader {
  display: flex;
  justify-content: center;
}

.currentQuestionWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin: 1rem 0;
  font-size: 2rem;
  padding: 0.8rem 1rem;
}

.questionWrapper {
  background-color: #fff;
  border: 1px solid #fff;
  padding: 0.8rem 1rem;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--fontPrimaryColor);
  &.active {
    border: 1px solid rgb(72, 0, 255);
    border-radius: 20px;
    transition: all 0.3s;
    background-color: rgb(150, 217, 252);
  }
}

.directionLinkWrapper {
  display: flex;
  margin: 0 1rem;
  &.linkFurther {
    justify-content: flex-end;
  }
  .directionLink {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 0.5rem 1rem;
    background-color: #04f795;
    text-transform: capitalize;
  }
}

.stepMeta {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  row-gap: 0.8rem;
  .stepQuizTitle,
  .stepQuizDescription {
    margin: 0;
  }
  .stepQuizTitle {
    font-size: 2.5rem;
  }
  .stepQuizDescription {
    font-size: 2rem;
  }
}
