.header {
  display: flex;
  // height: 80px;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.781);
  .headerInner {
    position: relative;
    display: flex;
    align-items: stretch;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    .logo {
      margin-right: 1rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      img {
        width: 45px;
      }
    }
    .signInBtn {
      margin-left: auto;
      border-radius: 10px;
      background-color: navy;
      color: #fff;
      border: none;
      font-size: 20px;
      cursor: pointer;
      padding: 0.5rem 1rem;
    }
    .userProfile {
      background-color: transparent;
      border: none;
      padding: 0;
      margin-left: auto;
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: inherit;
      img {
        width: 50px;
        border-radius: 50%;
      }
      span {
        margin-left: 0.5rem;
        font-size: inherit;
      }
    }
  }
}
