.loader {
	/* outline: 1px solid red; */
	margin: 20px;
}

.line {
	border: 5px solid #00897b;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:50%;
	margin: 3px;
	border-left-color: transparent;
	border-top-color: transparent;
	animation: loader 5s cubic-bezier(0.35, -0.14, 0.79, 1.22) infinite;
}
@keyframes loader {
	100% {
		transform: rotate(1turn);
	}
}
.loaderRed .line {
	border-color: #fd5757;
	border-left-color: transparent;
	border-right-color: transparent;
	animation-timing-function:  ease-in-out;
}
.loaderGreen .line {
	border-color: #00897b;
	border-left-color: transparent;
	border-top-color: transparent;
}
.loaderBlue .line {
	border-color: #5b6adc;
	border-right-color: transparent;
	animation-timing-function:  linear;
}

.hourglass {
  display: flex;
  position: relative;
  width: 80px;
  height: 80px;
}
.hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid rgb(14, 0, 212);
  border-color: rgb(14, 0, 212) transparent rgb(14, 0, 212) transparent;
  animation: hourglass 1.2s infinite;
}
@keyframes hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}