.progressBar {
    margin: 0;
    background-color: var(--progressBarColor);
    box-shadow: 0 0 10px 3px var(--progressBarColor);
    height: 0px;
    visibility: hidden;
    transition: all 0.3s;
    &.visible {
        visibility: visible;
        margin-bottom: 6px;
        height: 5px;
    }
}
