.wrapper {
	width: 100%;
}

.userData {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.userAvatar {
	width: 100%;
	max-width: 300px;
}
.userDetails {
	display: flex;
	flex-direction: column;
}

.userDetails p {
	margin-top: 0;
	margin-bottom: 0.8rem;
	font-size: 20px;
	color: var(--fontPrimaryTitleColor);
}

.userDetails p span {
	margin-right: 0.5rem;
	font-size: 20px;
	font-weight: bold;
	color: var(--fontPrimaryColor);
}

.settings {
	background-color: rgb(81, 81, 81);
}

.inputGroup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem 0.3rem;
}
.inputTip {
	/* font-size: 20px; */
	color: #fff;
	display: block;
	margin-bottom: 0.5rem;
	min-height: 32px;
}