@import "../../index.scss";
.HomePage {
  width: 100%;
  .title {
    margin: 0 0 2rem 0;
    font-size: 4rem;
    color: var(--fontPrimaryTitleColor);
  }
  .quizListItem {
    display: flex;
		background-color: rgba(255, 255, 255, 0.9);
		padding: 0.5rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
  }
  .quizList {
    list-style-type: none;
    padding-left: 0;
		max-width:400px
  }
  .quizItemLink {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
		color: var(--fontPrimaryColor);
		text-decoration: none;
  }
  .quizItemTitle {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0.3rem;
    color: var(--fontPrimaryTitleColor);
    font-size: 22px;
  }

  .quizItemDescription {
    font-size: 18px;
    opacity: 0.9;
  }
}
