@import "../../index.scss";

.loginContainer {
    position: relative;
    width: 100%;
}
.loginContent {
    z-index: 1;
    position: relative;
}
.form {
    background-color: rgba(0, 0, 0, 0.801);

    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    margin: 0 auto;
}
#background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    user-select: none;
    pointer-events: none;
}
