.dropdown {
  position: absolute;
  right: 0;
  transform-origin: top top;
  background-color: #2f2fbb;
  user-select: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.68);
  overflow: hidden;
  bottom: 220px;
  opacity: 0;
  transition: all 0.3s;
  .dropdownList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;
    width: 130px;
    padding: 0 12px;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0;
    gap: 8px;
    text-decoration: none;
  }
  .dropdownListItem {
    margin-left: 0;
    padding-left: 0;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
    display: flex;
    gap: 8px;
    align-items: center;
    max-height: 35px;
    width: 100%;
    svg {
      width: 20px;
    }
    button,
    a {
      background-color: transparent;
      border: none;
      padding: 0;
      display: flex;
      font-size: 20px;
      width: 100%;
      align-items: center;
      justify-content: flex-start;
      column-gap: 8px;
      color: #ffffff;
      text-decoration: none;
      cursor: pointer;
      &:focus {
        outline: 2px solid #ffffff;
        background-color: #2f2fbb;
      }
    }
  }
  &.visible {
    display: block;
    box-shadow: 3px 4px 15px 0px rgba(0, 0, 0, 0.68);
    bottom: -195px;
    opacity: 1;
    user-select: auto;
  }
}
