@font-face {
  font-family: "NotoSans";
  src: local("NotoSans"),
    url("./assets/fonts/NotoSans-Regular.ttf") format("tff");
}

* {
  box-sizing: border-box;
}


:root {
  --bgDefaultColor: rgba(229,229,229,1);
  --fontPrimaryColor: rgba(0,0,0,1);
  --fontPrimaryTitleColor: rgba(0,0,0, .7);
  --progressBarColor: rgba(0, 145, 255, 0.985);
}

body {
  margin: 0;
  padding: 0;
  font-family: "NotoSans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--fontPrimaryColor);
}

/*````````````````````````````````` noMail.com.ua - Каталог шрифтов ```````````````````````````````````````*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
