.Calendar {
    padding: 15px;
}

.CalendarPanelItem {
    // border-right: 1px solid lightgray;
    // border-bottom: 1px solid lightgray;
    padding: 8px;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    &:nth-child(7n) {
        // border-right: none;
    }
}
.CalendarPanel {
    width: 600px;
    height: 600px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    border-bottom: none;
    padding: 1px;
    background-color: lightgrey; grid-gap: 1px;
}
.CalendarControls {
    display: flex;
    justify-content: center;
    margin: 12px 0;
    gap: 8px;
}
.CalendarCurrentDate {
    color: #fff;
    background-color: rgb(0, 40, 65);
}
