.appLayout {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    justify-content: center;
    overflow: hidden;
    background: #e5e5e5;
}

.layoutContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    @media (max-width: 720px) {
        column-gap: 0;
        // row-gap: 20px;
        flex-direction: column;
        align-items: center;
    }
}

.main {
    display: flex;
    flex: 1 1 100%;
    // padding: 1rem;
    width: 100%;
    // max-width: 1200px;
    margin: 0 auto;
}
// .sidebar {
//     flex: 1 1 350px;
//     @media (max-width: 720px) {
//         flex: 1 1 120px;
//     }
// }
