@import "../_vars.scss";
@import "../_mixins.scss";

.footer {
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .colored {
    color: #000;
    margin-left: 40px;
    .red-light {
      color: #ff0000;
    }
    .red {
      color: #ff0000;
      font-weight: bold;
    }
    .torq {
      color: #007c78;
    }
  }
  .socials {
    a {
      margin-left: 20px;
    }
  }
  .center {
    display: flex;
    justify-content: center;
    flex: 1;
    a {
      color: $dark-blue;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;

      &:not(:first-child) {
        margin-left: 4%;
      }
    }
  }
  @include breakpoint(tablet) {
    .inner {
      flex-direction: column;
    }
    .left {
      order: 3;
      margin-bottom: 8px;
      text-align: center;
    }
    .socials {
      text-align: center;
      margin-bottom: 8px;
      a:first-child {
        margin-left: 0;
      }
    }
    .center {
      margin-bottom: 8px;
      flex-wrap: wrap;
    }
  }
}
