@import "../_vars.scss";
@import "../_mixins.scss";

.header {
  width: 100%;
  text-align: center;
  .inner {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #fff;
    position: relative;
    .profile,
    .profile-mobile {
      align-items: center;
      display: flex;
      column-gap: 20px;
      .user {
        img {
          border-radius: 50%;
          display: inline-flex;
        }
        span {
          color: $dark-blue;
          text-decoration: none;
          margin-left: 25px;
        }
      }
    }
    .profile-mobile {
      position: fixed;
      flex-direction: column;
      top: 70px;
      z-index: 15;
      left: 0;
      bottom: 0;
      right: 0;
      border-top: 1px solid rgb(0, 0, 2);
      background-color: #fff;
      padding: 15px 15px;
      .user {
          margin-bottom: 20px;
      }
      .btn {
          margin-bottom: 10px;
      }
    }
      
  }
  &--mobile {
    .inner {
      .profile {
        display: none;
      }
    }
  }
  @include breakpoint(mobile) {
    .inner {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .logo {
      width: 60px;
    }
    .toggle {
      display: flex;
      align-items: center;
    }
  }
}
