@import "../_vars.scss";
@import "../_mixins.scss";

.layout {
  .gradient-line {
    width: 100%;
    height: 17px;
    img {
      display: flex;
      object-fit: cover;
      height: 100%;
      width: 100%;
      object-position: center;
    }
  }
  &__inner {
    max-width: 1140px;
    min-height: 100%;
    margin: 0 auto;
    padding: 20px 15px 40px;
  }
  .choose-mode {
    padding: 20px 15px;
  }
  .mode-item {
    border-radius: 30px;
    box-shadow: 0px 0px 55px 0px rgba(0, 33, 119, 0.15);
    border: none;
    color: $blue;
    padding: 20px 30px;
    width: 100%;
    display: flex;
    font-weight: bold;
    justify-content:space-between;
    background-color: #fff;
    text-decoration: none;
    align-items: center;
    @include breakpoint(tablet) {
        margin-bottom: 15px;
    }
  }
}
