.sign-up,
.sign-in {
  background-color: #000;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up .btn,
.sign-in .btn {
    background: #fb0102;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 18px;
    flex: 1;
    border: 1px solid #fb0102;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}


.sign-up .form-wrapper,
.sign-in .form-wrapper {
  max-width: 800px;
  width: 100%;
  position: relative;
  background-color: #fff;
  padding: 35px 20px 10px;
  display: flex;
  flex-wrap: wrap;
}
.sign-up .title {
  text-transform: uppercase;
  color: #000;
  text-align: center;
  flex-grow: 1;
  flex-basis: 100%;
  margin-bottom: 30px;
}
.sign-up .col,
.sign-in .col {
  display: flex;
  flex: 1 1 calc(50% - 10px);
  margin-bottom: 15px;
}
.sign-up .col:nth-child(odd) {
  margin-left: 20px;
}
.sign-up .col input,
.sign-in .col input {
  display: flex;
  flex: 1;
  padding: 10px 18px;
  font-size: 14px;
  color: #959595;
  font-weight: 600;
  border-radius: 20px;
  outline: none;
  border: 1px solid #959595;
  transition: all 0.3s;
}
.sign-up .col input:focus,
.sign-in .col input:focus {
  border: 1px solid #fb0102;
}
.sign-up .btn-sign-up {
 
}

.sign-up .notification,
.sign-in .notification {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sign-up .notification span,
.sign-in .notification span {
  margin-left: 10px;
  color: #adadab;
  font-size: 16px;
}
.sign-up .terms {
  font-size: 16px;
  color: #adadab;
}
.sign-up .terms a {
  color: #fb0102;
}

.sign-in .form-wrapper {
  max-width: 400px;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 25px 20px 15px;
}
.sign-in .forgot-password {
    margin: 0;
    text-align: center;
}
.sign-in .notification {
    margin-top: 0;
  cursor: pointer;
  margin-bottom: 15px;
}
.sign-in .btn-sign-in {
}

@media (max-width: 768px) {
    .sign-up .col:nth-child(odd) {
        margin-left: 0;
    }
    .sign-up .form-wrapper {
        flex-direction: column;
    }
    .sign-up .form-select .css-12bv9ee-ValueContainer {
        padding-left: 10px;
    } 
}

/* .sign-up .form-select .css-tlfecz-indicatorContainer {
    background-image: url('../images/triangle.svg');
    background-size: contain;
    background-position: center center;
    margin-right: 5px;
}*/
.sign-up .form-select {
    flex: 1 1 40%;
} 
.sign-up .form-select--month {
    flex: 1 1 40%;
} 
.sign-up .form-select--day {
    flex: 1 1 20%;
    margin-left: 5px;
} 
.sign-up .form-select--year {
    margin-left: 5px;
} 
